{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of All Loaners</title>
  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>

  {% include 'header.html' %}



  <div class="container">
    <h1 class="text-center mb-4">List of All loaners Information</h1>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">return date</th>
              <th scope="col">due date</th>
              <th scope="col">loan date</th>
            </tr>
          </thead>
          <tbody>
            {% block content %}
            {% for l in lo %}
            <tr>
              
              
              <td>{{l.return_date}}</td>

              <td>{{l.due_date}}</td>
              <td>{{l.loan_date}}</td>
              <td></td>
              
            </tr>
            {% endfor %}
            {% endblock %}
           
          </tbody>
        </table>
      <button onclick="location.href='/'" class="btn btn-primary">Back</button>

      </div>

      <!-- Add more cards as needed for additional buses -->
    </div>
  </div>

  {% include 'footer.html' %}



  <!-- Bootstrap JS and dependencies -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>